@import url('http://fonts.cdnfonts.com/css/american-captain-2');
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');


:root {
  scroll-behavior: smooth;
  font-size: 11px;
  --clr-white: #fff;
  --clr-whitef2: #f2f2f2;
  --clr-black: #161616;
  --clr-gray: #373737;
  --clr-green: #0D7C61;
  --clr-red: #862323;
  --clr-blue: #0A3F8F;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li,a,button {
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: inherit;
  border: none;
  font: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  all: unset;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: var(--clr-black);
  font-family: 'Sf Pro Display', sans-serif;
  color: var(--clr-white);
  z-index: 0;
  overflow-x: hidden;
  line-height: 1.5;
}

p {
  font-size: 1.4rem;
  text-align: center;
  padding: 0;
}

section {
  padding: 2rem 0;
}


.font-captain {
  font-family: 'American Captain', sans-serif;
  font-weight: 400;
}



/* 
  NAVBAR SECTION ------------------------------------------------
*/

header {
background-color: transparent;
color: var(--clr-white);
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 4rem;
display: flex;
justify-content: space-between;
padding: 0 2rem;
vertical-align: middle;
z-index: 999;
}


.nav-title {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
}



.nav-links-hidden {
  display: none;
}

.nav-links {
  height: 100%;
  vertical-align: middle;
  line-height: 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 387px;
}


.btn {
  padding: 0.5rem 2rem;
  border: 1px solid var(--clr-white);
  height: 2.5rem;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0.5rem;
}
.hamburger-icon {
  margin: auto 0;
}

/* 
  HERO SECTION ------------------------------------------------
*/

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: right;
}

.hero > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: -150px;
}

.hero-content {
  position: absolute;
  top: 100px;
  right: 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
}

.hero-content > h1 {
  font-size: 6rem;
}

.hero-content > p {
  font-size: 2rem;
  text-align: right;
  margin:auto;
}

.hero-content > button {
  margin-top: 20px;
  align-self: center;
}

/* 
  ABOUT SECTION -----------------------------------------------
*/

.about-us {
  position: relative;
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.about-car-img {
  display: none;
}

.about-us-content p {
  padding: 0;
}

.section-title {
  padding: 3.75rem;
  font-size: 8.125rem;
}

.long-section-title {
  padding: 3.75rem;
  text-align: center;
  font-size: 6rem;
}

.background-text {
  display: none;
  position: absolute;
  bottom: -100px;
  right: 50px;
  z-index: 1;
  opacity: 0.5;
  color: var(--clr-gray);
}

/* 
  BENEFITS SECTION ----------------------------------------------
*/

.benefits {
  height: 100%;
  padding: 0 2rem;
}

.benefits > p {
  text-align: center;
  padding-bottom: 2rem;
  margin: auto;
}

.benefits-content {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10rem;
  place-items: center;
}

.card {
  min-width: 50%;
  min-height: 50%;
  max-width: 430px;
  max-height: 400px;
  aspect-ratio: 430/400;
  border-radius: 5px;
  text-align: center;
}


.card p {
  text-align: center;
  padding: 0;
}

.card:first-child {
  margin-top: 7rem;
}

.card-red {
  background-color: var(--clr-red);
}

.card-green {
  background-color: var(--clr-green);
}

.card-blue {
  background-color: var(--clr-blue);
}

.card-text-wrapper {
  padding: 0 3rem;
}

.card-image {
  margin-top: -80px;
}

.card-title {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
.card-link {
  border-bottom: 1px solid var(--clr-white);
}


/* 
  TRENDING SECTION -------------------------------------------------------
*/


.trending-cars > h1 {
  text-align: left;
  padding-bottom: 1rem;
  padding-left: 5rem;
}


.car-gallery {
  padding: 5rem;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  gap: 2rem;
}

.car-video-title {
  text-align: left;
  padding: inherit;
}
.car-video-title > h1 {
  padding: 3rem;
}

.video-placeholder {
  width: 90%;
  margin: auto;
}

iframe {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
}


/* 
  CONTACT PAGE SECTION ----------------------------------------------------
*/

.contact-page {
  padding: 0 3rem;
}

.contact-page input {
  display: block;
  margin: 2rem auto;
  border-bottom: 1px solid var(--clr-whitef2);
  width: 80%;
  font-size: 1.5rem;
}

.contact-page label {
  font-size: 1.5em;
}

.contact-page select {
  display: block;
  margin: 2rem auto;
  outline: 1px solid var(--clr-whitef2);
  background-color: transparent;
  width: 80%;
  color: var(--clr-white);
}

.contact-page select:active, select:focus {
  background-color: var(--clr-gray);
}

.contact-page button {
  display: block;
  margin: auto;
}

.location-page {
  height: 100%;
  width: 100%;
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.footer-links {
  height: 100%;
  width: 90%;
  margin: auto;
  padding: 2rem;
}
.footer-links > h3 {
  text-align: center;
  font-size: 3rem;
}
.footer-links a {
  text-align: center;
  display: block;
  color: var(--clr-gray);
}
.footer-icons {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons * {
  padding: 0 0.5rem;
}

.side-footer * {
  text-align: center;
  display: block;
  color: var(--clr-gray);
}